numpy~=1.26.4
fastapi~=0.115.6
torch~=2.5.1
tqdm~=4.67.1
python-dotenv~=1.0.1
pydantic~=2.10.5
uvicorn~=0.34.0
nltk~=3.9.1
pandas~=2.2.3
peft~=0.14.0
trl~=0.13.0
datasets~=3.2.0
transformers~=4.48.1
aiohttp~=3.11.11
starlette~=0.41.3
SQLAlchemy~=2.0.35
typing_extensions~=4.12.2
peewee~=3.17.9
beautifulsoup4~=4.13.3
requests~=2.32.3
passlib~=1.7.4
PyJWT[crypto]~=2.10.1
chromadb~=0.6.2
websockets~=14.1
fpdf~=1.7.2
black~=25.1.0
aiofiles~=24.1.0
pydub~=0.25.1
boto3~=1.36.25
botocore~=1.36.25
tiktoken~=0.9.0
langchain==0.3.7
ldap3~=2.9.1
Authlib~=1.4.1
python-multipart==0.0.18
psutil
sentencepiece

# File Reader Libraries
ftfy==6.2.3
pypdf==4.3.1
fpdf2==2.8.2
pymdown-extensions==10.14.2
docx2txt==0.8
python-pptx==1.0.0
unstructured~=0.16.11
Markdown==3.7
pypandoc==1.13
pandas==2.2.3
openpyxl==3.1.5
pyxlsb==1.0.10
xlrd==2.0.1
validators==0.34.0
soundfile==0.13.1