numpy~=2.2.1
fastapi~=0.115.6
torch~=2.5.1
tqdm~=4.67.1
python-dotenv~=1.0.1
pydantic~=2.10.5
uvicorn~=0.34.0
faiss-cpu~=1.9.0.post1
nltk~=3.9.1
pandas~=2.2.3
peft~=0.14.0
bitsandbytes~=0.45.1
trl~=0.13.0
datasets~=3.2.0
transformers~=4.48.1